.price{
  width: 40%;
  height: 40px;
  border-radius: 4px;
  background-color: #1976d2;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/